
/* custom style
   ========================================================================== */
body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 0 25px;
}

h2 {
    margin: 20px 0 30px;
}

/* layout
   ========================================================================== */
.container {
    max-width: 960px;
    padding: 0 20px;
}

.title {
    font-size: 3em;
    margin-bottom: 20px;
}

.box {
    background: #fff;
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 10px 20px;
}

.heading {
    font-size: 2.25em;
    margin: 10px 0 5px
}

.heading span {
    color: #ddd;
    margin-right: 15px;
    text-decoration: none;
}

.text {
    font-size: 1.25em;
    margin: 15px 0;
}

.view .column,
.view .columns {
    background: #f2f2f2;
    border-radius: 3px;
    font-size: 0.750em;
    font-weight: 600;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}

.check,
.radio {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 0 0 0 22px;
    position: relative;
    user-select: none;
}

.check input,
.radio input {
    visibility: hidden;
    position: absolute;
    display: none;
}

.check .checkmark:after,
.radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check input:checked ~ .checkmark:after,
.radio input:checked ~ .checkmark:after {
    display: block;
}
